/* 所有变量：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/* VitePress 绿色 */
html[theme='vp-green'] {
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}

/* VitePress 蓝色 */
html[theme='vp-blue'] {
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
}

/* VitePress 黄色 */
html[theme='vp-yellow'] {
  --vp-c-brand-1: var(--vp-c-yellow-1);
  --vp-c-brand-2: var(--vp-c-yellow-2);
  --vp-c-brand-3: var(--vp-c-yellow-3);
  --vp-c-brand-soft: var(--vp-c-yellow-soft);
}

/* VitePress 紫色 */
html[theme='vp-purple'] {
  --vp-c-brand-1: var(--vp-c-purple-1);
  --vp-c-brand-2: var(--vp-c-purple-2);
  --vp-c-brand-3: var(--vp-c-purple-3);
  --vp-c-brand-soft: var(--vp-c-purple-soft);
}

/* VitePress 红色 */
html[theme='vp-red'] {
  --vp-c-brand-1: var(--vp-c-red-1);
  --vp-c-brand-2: var(--vp-c-red-2);
  --vp-c-brand-3: var(--vp-c-red-3);
  --vp-c-brand-soft: var(--vp-c-red-soft);
}

/* element 蓝色 */
html[theme='el-blue'] {
  --vp-c-brand-1: var(--el-color-primary);
  --vp-c-brand-2: var(--el-color-primary-light-3);
  --vp-c-brand-3: var(--el-color-primary-light-5);
  --vp-c-brand-soft: var(--el-color-primary-light-9);
}

/* element 绿色 */
html[theme='el-green'] {
  --vp-c-brand-1: var(--el-color-success);
  --vp-c-brand-2: var(--el-color-success-light-3);
  --vp-c-brand-3: var(--el-color-success-light-5);
  --vp-c-brand-soft: var(--el-color-success-light-9);
}

/* element 黄色 */
html[theme='el-yellow'] {
  --vp-c-brand-1: var(--el-color-warning);
  --vp-c-brand-2: var(--el-color-warning-light-3);
  --vp-c-brand-3: var(--el-color-warning-light-5);
  --vp-c-brand-soft: var(--el-color-warning-light-9);
}

/* element 红色 */
html[theme='el-red'] {
  --vp-c-brand-1: var(--el-color-danger);
  --vp-c-brand-2: var(--el-color-danger-light-3);
  --vp-c-brand-3: var(--el-color-danger-light-5);
  --vp-c-brand-soft: var(--el-color-danger-light-9);
}
