// 颜色
$accentColor = #4e98bb
$textColor = #232321
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #5cb85c
$badgeWarningColor = #ffd51e
$badgeErrorColor = #d95376

// 布局
$navbarHeight = 3.6rem
$bannerHeight ?= 12rem
$sidebarWidth = 20rem
//$contentWidth = 840px
$contentWidth ?= 700px
$homePageWidth = 960px

// 响应式变化点
$MQWide ?= 1440px
$MQNarrow ?= 1440px
$MQMobile ?= 700px
$MQMobileNarrow ?= 480px